VITE_FIREBASE_API_KEY=your_web_api_key
VITE_FIREBASE_AUTH_DOMAIN=smarteducation-705f1.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=smarteducation-705f1
VITE_FIREBASE_STORAGE_BUCKET=smarteducation-705f1.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=279178067660
VITE_FIREBASE_APP_ID=your_web_app_id
